html  .folio-isotop-filter ul > li a.selected {
    color: #ed912a;
    background: transparent;
}

html  .folio-isotop-filter ul > li a.selected:before {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    bottom: -26px;
    width: 20px;
    left: 50%;
    margin-left: -10px;
}


html .folio-isotop-filter ul > li {
    border: 0;
    margin-right:0;
    background: #fff;
    margin-bottom: 10px;
}


html .folio-isotop-filter ul > li a {
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}





.spl-title{
    margin-bottom: 20px;
}

.spl-title h2 {
    font-weight: 600;
    font-size: 28px;
    color: #333333;
    padding-bottom: 10px;
}


.spl-title h4{
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    color: rgba(170, 170, 170, 0.8);
}





 .spl-title.spl-title-white{
    color: #fff !important;
}



/* Tabs */
.pix-tabs{
    font-size: 14px;
    line-height: 22px;
}
.pix-tabs .nav-tabs {
	text-align: center;
	border: none;
	margin-bottom: 50px;
	margin-left: 0;
}



/* Contact Form 7 */
.quote-form {
	margin-top: -35px;
	padding: 36px;
	background: url(../../img/form-bg.jpg) no-repeat center center;
	background-size: cover;
    overflow: hidden;
    position: relative;
}
html .quote-form input,html .quote-form textarea {
    margin-bottom: 15px !important;
    border: none;
    width: 100%;
    padding: 15px !important;
    max-height: 116px;
    background-color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0 !important;
}
.quote-form input[type=submit] {
    background-color: #2a64d9;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0 !important;
    padding: 15px 8px;
}
.wpcf7-not-valid {
	border: 1px solid red !important;
}
.quote-form span.wpcf7-form-control-wrap {
	position: relative;
	height: 65px;
	display: block;
}
.quote-form button.btn, .quote-form a {
	width: 100%;
}
.wpcf7-form  .quote-form  input.wpcf7-form-control.wpcf7-submit {
    border: 1px solid #fff;
}



.tab-pane  input[type=text] , .tab-pane   textarea , .tab-pane  input[type=email] ,.tab-pane   input[type=tel]  {
    background: none;
    box-shadow: none !important;
    outline: none;
    border: none !important;
    border-bottom: 1px solid #444444!important;
    border-radius: 0;
    border-radius: none;
    padding-left: 0;
    align-content: height: 40px;
    color: #aaaaaa !important;
    font-family: Karla, sans-serif;
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 400;
    max-height: 120px;
}



.tab-pane  .nav.nav-tabs.theme-tab li  a{
    background: none !important;
}


.tab-pane   .wpcf7{
    max-width: 800px;
    margin: 0 auto;
}



.tab-pane  .wpcf7 input[type=submit] {
    float: none;
    background: transparent !important;
    color: #fff;
    border-bottom: 2px solid #ed912a;
    padding: 0;
    padding-bottom: 14px;
    border-radius: 0;
    font-size: 14px;
    padding-top: 20px;
}




.tab-pane   .sep-element:after {
    border-color: #fff !important;
    background: #2f3849 !important;
}


.tab-pane  .sep-element {
    border-bottom-color:  #fff !important;
}


.tab-pane   .section-heading .section-subtitle{
    color: rgba(170, 170, 170, 0.8) !important;
}

/* Service Box */

.column-info img {
	width: 100%;
	height: auto;
}
.column-info > span {
	display: block;
	float: right;
	margin-top: -20px;
	margin-right: -8px;
	position: relative;
	z-index: 2;
	height: 20px;
	width: 60px;
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
}
.column-info h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.column-info a.btn {
    margin-top: 25px;
    background: #fff;
    padding: 5px 20px;
}
.column-info .btn.btn-sm:hover:before{
	width:100%;
	z-index:1;
}
.column-info .btn.btn-sm span{
    position: relative;
	z-index:2;
}



/* Our Services */




.our-services div > a {
	position: relative;
	padding:40px 33px 33px 105px;
	display: block;
	cursor: pointer;
	border: 1px solid;
	border-right: none;
	margin-bottom: 40px;
    min-height: 161px !important;
}
.our-services div > a:after {
	display: block;
	content: "";
	position: absolute;
	right: 0px;
	top: -1px;
	bottom: -1px;
	width: 4px;
}
.our-services div > a:hover {
	text-decoration: none;
}


.our-services  h4{
    font-size: 100%;
    font-weight: 700 !important;
	font-size: 18px;
}


.home-template  .our-services div > a > span {
	text-align: center;
	padding-top: 20px;
}

.our-services div > a > span {
	text-align: center;
	padding-top: 7px;
	width: 80px;
	height: 80px;
	position: absolute;
	left: -10px;
	top: 45px;
	display: block;
	border: 1px solid #eee;
	background: #fff;
    -webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}

.our-services div > a > span:after {
	border-bottom-color: #fff;
	top: -2px;
	right: -23px;
}
.our-services div > a > span > i:after , .our-services div > a > span > i:before{
   font-size: 38px;
    margin-left: 0;
}

.our-services div > a > span > i {
	font-size:30px;
}

.our-services div > a:hover > span {
    background-color: #2a64d9;
    
}

.our-services div > a:hover > span > i {
	color: #fff;
}
.our-services div > a, .stats > div > div {
	border-color: #eee !important;
	min-height: 114px;
    color: #333333;
}


.our-services div > a:hover > span > i:before {
    font-size: 40px;
    position: relative;
    top: 0px;
}


.our-services div > a:after {
    background: #f9f9f9 ;
}

.our-services p , .stats  p{
	line-height: 22px;
	font-size: 15px;
}


.list-services {
	margin: 62px -20px 80px;
}
.list-services__item {
    position: relative;
    display: inline-block;
    max-width: 540px;
    margin-right: 17px;
    margin-bottom: 30px;
    margin-left: 0;
    vertical-align: top;
    background-size: cover;
    text-align: left;
}
.list-services__item:after {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 0;
	content: '';
	transition: all 0.3s;
}
.list-services__item:hover:after {
	background-color: rgba(0, 0, 0, 0.55);
}

.list-services__item .icon {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    padding-top: 28px;
    font-size: 37px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(242, 193, 38, 0);
    transition: all 0.3s;
    text-align: center;
    margin-right: 20px;
}

.list-services__item .icon:before{
    position: relative;
    left: 1px;
    top: 1px;
    margin: 0;
    font-size: 30px;
}

.list-services__link {
	position: relative;
	display: block;
	padding: 20px 35px 35px 35px;
	color: #fff;
	z-index: 1;
}
.list-services__item:hover .list-services__link {
	color: #fff;
	text-decoration: none;
}
.list-services__inner {
	margin-left: 104px;
}
.list-services__title {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s;
    text-transform: uppercase;
    padding-top: 10px;
}
.list-services__description {
	font-size: 13px;
	line-height: 1.5;
	color: #ccc;
}

.list-services-2 {
	margin-top: 56px;
	margin-right: -14px;
	margin-left: -15px;
	text-align: center;
}
.list-services-2__item {
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.list-services-2__item .icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	padding-top: 12px;
	font-size: 37px;
	color: #666;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s;
}

.list-services-2__item .icon:before{
    position: relative;
    top: 15px;
    margin: 0;
    font-size: 30px;
}

.list-services-2__item .icon_mod-a {
	border-color: #ddd;
	background-color: transparent;
}
.list-services-2__item:hover .icon {
	color: #fff;
	background-color: transparent;
}
.list-services-2__item:hover .icon_mod-a {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}
.list-services-2__link {
	position: relative;
    z-index: 77 !important;
	display: block;
	padding: 50px 40px 45px;
	z-index: 1;
    text-align: center;
}



.list-services-2__link:hover {
	text-decoration: none;
}

.list-services-2__title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 900;
	color: #222;
	transition: all 0.3s;
	text-transform: uppercase;
}
.list-services-2__item:hover .list-services-2__title {
	color: #fff;
}
.list-services-2__description {
	font-size: 13px;
	line-height: 1.53;
	color: #666;
	transition: all 0.3s;
}
.list-services-2__item:hover .list-services-2__description {
	color: #fff;
}
.list-services-2__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
     opacity: 0;
    background-size: cover;
}
.list-services-2__item:hover .list-services-2__bg {
    opacity: 1;
}
.list-services-2__bg img {
    position: relative;
    opacity: 0.15;
    z-index: 1;
    min-height: 315px;
}
.list-services-2_mod-a {
	margin-bottom: 75px;
}
.list-services-2_mod-b {
	margin-top: 20px;
	margin-bottom: 70px;
}



.list-services__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2a64d9;
    
}



.list-services-2__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a64d9 ;
    z-index: 7;
    visibility: hidden;
        opacity: 0.7;
    
}


.list-services-2__item:hover .list-services-2__overlay{
    visibility: visible;
}


/* Departments */


 .department-1-col-2,
 .department-1-col-3,
 .department-1-col-4,
 .department-1-col-5,
 .department-1-col-6,
 .department-2-col-2,
 .department-2-col-3,
 .department-2-col-4,
 .department-2-col-5,
 .department-2-col-6,
 .department-3-col-2,
 .department-3-col-3,
 .department-3-col-4,
 .department-3-col-2,
 .department-3-col-5,
 .department-3-col-6

{
    text-align: center;
}




 .department-2-item{
    margin-bottom: 4%;
        
    }



.our-services {
    max-width: 1920px;
    margin: 0 auto;
}



@media (min-width:1000px)  {
    
    
.department-1-item, .department-2-item, .department-3-item{
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
    
    


.department-1-col-2 .department-1-item, .department-2-col-2 .department-2-item, .department-3-col-2 .department-3-item{
    width: 47%;
    margin-right: 2%;
    
}
    
    


.department-1-col-2 .department-1-item:nth-child(even), .department-2-col-2 .department-2-item:nth-child(even), .department-3-col-2 .department-3-item:nth-child(even){
    margin-right: 0 !important;
    width: 49%;
    vertical-align: top;
    margin-left: 1%;
    
}




.department-1-col-3 .department-1-item , .department-2-col-3 .department-2-item, .department-3-col-3 .department-3-item{
    width: 31%;
    margin-right: 2%;  
}





.department-1-col-4 .department-1-item , .department-2-col-4 .department-2-item, .department-3-col-4 .department-3-item{
    width: 22%;
    margin-right: 2%;  
}




.department-1-col-5 .department-1-item , .department-2-col-5 .department-2-item , .department-3-col-5 .department-3-item{
    width: 18%;
    margin-right: 2%;  
}






.department-1-col-6 .department-1-item  , .department-2-col-6 .department-2-item , .department-3-col-6 .department-3-item{
    width: 14%;
    margin-right: 2%; 
}

    
}



/* Testimonials */
.testimonial-content {
	background: #f9f9f9;
}

.testimonial-content p{
	color: #333;
}
.testimonial-content {
	position: relative;
	margin-left: 10px;
	padding: 45px 28px 40px 80px;
	margin-bottom: 40px;
}

#testimonials2 {
    margin-left: -15px;
}



html .testimonial-content p {
    font-size: 15px;
    color: #333 !important;
}
.testimonial-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    right: 45px;
    width: 0;
    height: 0;
    border-top: 20px solid #f9f9f9;
    border-right: 20px solid transparent;
}
.testimonial-content span {
    display: table-cell;
    text-align: center;
    padding-top: 16px;
    width: 50px;
    height: 55px;
    position: absolute;
    left: -10px;
    top: 45px;
    border-right: none;
    background: #2a64d9;
    border: 0;
    color: #fff;
    line-height: 22px;
}

.testimonial-author {
	margin-right: 40px;
}
.testimonial-author h4 {
margin-bottom: 7px;
}
#testimonials .owl-nav {
	margin: -40px 0 0 10px;
}
#testimonials2 .owl-nav {
    position: absolute;
    top: -70px;
    right: 20px;

}
#testimonials2 .owl-nav div, #testimonials .owl-nav div{
	border:1px solid #dddddd;
	display: inline-block;
	zoom: 1;
	display: inline;/*IE7 life-saver */
	padding: 10px 20px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.8;
}
#testimonials .owl-nav div{
	padding: 3px 10px;
}
#testimonials2 .owl-nav div:first-child, #testimonials .owl-nav div:first-child{
	border-right:none;
}
#testimonials2 > div.owl-stage-outer > div > div > div {
	margin-right: 20px;
}
.testimonial-author small{
    font-size: 90%;
    color: rgba(170, 170, 170, 0.8);
}



/* ImageCarousel */

#fleet-gallery {
	position: relative;
}
#fleet-gallery .owl-item img {
	padding: 0 5px;
}
#fleet-gallery img {
	width: 100%;
	height: auto;
}
#fleet-gallery .owl-nav {
	position: absolute;
	top: -100px;
	right: 1px;
	margin-top: 15px;
}
#fleet-gallery .owl-nav div{
    border: 1px solid #dddddd;
    display: inline-block;
    zoom: 1;
    padding: 10px 20px;
    filter: Alpha(Opacity=50);
    opacity: 0.8;
    margin: 1px;
}



/* Team */

.team > div > div.userpic {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 260px;
	width: 100%;
    -webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.team .user-info + a.btn {
	display: none;
}
.team.style-2 > div > div:hover span {
    opacity: 1;
}

.team.style-2 > div > div span{
    	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.team > div > div span {
    opacity:0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 15px 15px;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	font-weight: 300;
	background-color: rgba(42, 100, 217, 0.84);
	 color: #fff;
}

.team > div > div span p {
    font-size: 14px;
    line-height: 1.6;
}
.team .user-info {
    padding: 20px 0 0px 2px;
    text-align: center;
}
.team .user-info h4, .team .user-info small {

}
.team .user-info p {
	margin-top: 0px;
}
.team .user-info h4 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.team .soc-icons {
    display: inline-block;
    width: 100%;
    padding-top: 0;
    text-align: center;
}
.team .soc-icons i {
	margin-right: 6px;
}
.team.style-2 div:hover .user-info p, .team.style-2 div .soc-icons {
	display: none;
}
.team.style-2 div:hover .soc-icons {
	display: block;
}
.team .user-info small{
	font-size: 100%;
}



/* Brands */
#partners .owl-item img{
	display: inline-block;
	width: auto;
}
.title-space {
	margin-left: 15px;
}
#partners .owl-item {
	padding: 0 15px 0 0;
}
#partners a {
    padding: 30px 0;
    text-align: center;
    display: block;
    border-right: 3px solid;
    background: #f9f9f9;
}
#partners .owl-nav {
	position: absolute;
	top: -100px;
	right: 15px;
	margin-top: 15px;
}
#partners .owl-nav div{
    border: 1px solid #dddddd;
    display: inline-block;
    zoom: 1;
    background: none;
    padding: 10px 20px;
    margin: 1px;
}


/* Lists */

.pix-tabs  .nav-tabs{
	text-align:center;
	border:none;
}
.pix-tabs   ul.styled{
	margin:0px;
	padding:0px;
}
.pix-tabs   ul.styled > li{
	position:relative;
	background:#f5f5f5;
	list-style:none;
	margin-bottom:6px;
}
.pix-tabs   ul.styled li > ul{
	display:none;
	position:absolute;
	z-index:2;
	width:100%;
	padding:0;
	left:0;
	background:#e3e3e3;
	padding:20px 15px;
	padding-top:0;
	padding-left:35px;
	border-bottom:4px solid;
	font-size:12px;
	text-transform:uppercase;
}
.pix-tabs   ul.styled li > ul > li{
	list-style:none;
}
.pix-tabs   ul.styled li > ul > li + li{
	margin-top:10px;
	display:block;
}
.pix-tabs   ul.styled li:hover > ul{
	display:block;
}
.pix-tabs   ul.styled > li.active > a, ul.styled > li.current-cat > a{
	color:#fff;
}
.pix-tabs   ul.styled > li:hover{
	background:#e3e3e3;
}
.pix-tabs   ul.styled > li.active:after{
	background:#fff;
	opacity:0.5;
}
.pix-tabs   ul.styled > li:after{
	content:"";
	display:block;
	width:4px;
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	background:#e3e3e3;
}
.pix-tabs   ul.styled > li > a{
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	font-size:14px;
	padding:20px 10px 20px 35px;
}

.pix-tabs   .nav-tabs > li{
	float:none;
	display:inline-block;
	border:1px solid #eee;
	border-right:4px solid #eee;
	margin-right:5px;
	background:#fff;
}

.pix-tabs   .nav-tabs > li + li{
	margin-top:20px;
}
.pix-tabs   .nav-tabs > li.active > a,.pix-tabs   .nav-tabs > li.active > a:focus,.pix-tabs   .nav-tabs > li.active > a:hover,.pix-tabs  .nav-tabs > a.active:focus,.pix-tabs    .nav-tabs > a.active:hover{
	cursor:default;
	border:none;
}
.pix-tabs   .nav-tabs > li.active > a:after{
	content:"";
	display:block;
	position:absolute;
	width:4px;
	top:-1px;
	bottom:-1px;
	right:-4px;
	background:#fff;
	opacity:0.5;
}
.pix-tabs   .nav-tabs > li > a{
	position:relative;
	border:none;
    color: #333;
	border-radius:0;
	margin-right:0;
	text-transform:uppercase;
	font-weight:700;
	font-size:12px;
	padding:15px 30px;
}

.pix-tabs   .nav-tabs > li.active > a , .pix-tabs   .nav-tabs > li:focus > a , .pix-tabs   .nav-tabs > li:hover > a {
    color: #fff;
    background: #0060c1 !important;
    
}



.pix-tabs   img.full-width {
    width: 100%;
    height: auto;
}
.pix-tabs .tab-content{
	font-size: 15px;
    line-height: 1.7;
}



/* Big HR */
html .big-hr:before, .big-hr:after ,html  .big-hr:after {
    border-top-color: #2a64d9 ;
}
.big-hr {
	position: relative;
	margin: 0px auto;
	max-width: 950px;
	height: 135px;
	padding-top: 25px;
	text-align: center;
	margin-top: -35px;
}
.big-hr:before {
	position: absolute;
	top: 0px;
	left: -69px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 135px solid;
	border-left: 70px solid transparent;
}
.big-hr:after {
	position: absolute;
	right: -69px;
	top: 0px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 135px solid;
	border-right: 70px solid transparent;
}
.big-hr h2 {
	margin-top: 20px;
    margin-bottom: 10px;
	font-size: 17px;
}
.big-hr div {
	display: inline-block;
}
.big-hr a.btn {
	margin-top: -30px;
}



/* Why Us */

.why-us {
	padding-left: 0px;
	border-top: 1px solid;
}
.why-us li {
	position: relative;
	text-indent: 15px;
	position: relative;

	list-style: none;
	border-bottom: 1px solid #eee;
	padding: 20px 30px 20px 0;
}
.why-us li p {
	margin-top: 15px;
	font-size: 14px;

	display: none;
}
.why-us li span {
	cursor: pointer;
	text-indent: 0px;
	top: 20px;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;

	position: absolute;
	right: 5px;
}
.why-us li span, .topmenu nav, .topmenu:before, #to-top, .two-news > div div:last-child > div{
	background:#191919;
}



/* Amount Box */

.stats > div > div {
	position: relative;
	margin-left: 10px;
	border: 1px solid;
	padding: 35px 30px 35px 75px;
	line-height: 1.42857143;
}

.stats span:first-child {
	text-align: center;
	padding-top: 20px;
	width: 70px;
	height: 70px;
	position: absolute;
	left: -10px;
	top: 20px;
	display: block;
	border: 1px solid #eee;
	background: #fff;
}
.stats span:first-child i:before {
    font-size: 30px;
    margin: 0;
}

.stats > div {
	margin-bottom: 30px;
}
.stats span.percent {
    display: block;
    float: left;
    font-size: 23px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 3px;
    margin-left: 12px;
}
.stats span:first-child, footer .copy a, .twitter-feeds div span, .recent-posts div a:hover {
    color:#333333 !important;
}


.stats .counter-item{
    margin-right: 25px;
}

.percent-text{
    padding-top: 10px;
    display: block;
    padding-left: 0;
    float: left;
    font-size: 15px;
	font-weight: 800;
}


/* Posts Block */

.one-news a {
	color: #fff;
}
.one-news > div {
	position: relative;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	    margin-left: -15px;
}
.one-news > div > div:hover {
	opacity: 1;
}
.one-news > div > div {
	bottom: 0px;
	left: 0px;
	width: 100%;
	position: absolute;
	padding: 30px 40px;
	opacity: 0.9;
	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.one-news > div > div h3, .two-news > div div:last-child h3 {
	font-size: 18px;
	text-transform: none;
	font-weight: 400;
	margin: 0px;
	margin-bottom: 20px;
}
.two-news > div div:last-child h3 {
	font-size: 16px;
	line-height: 24px;
}
.one-news > div > div small, .two-news > div div:last-child small {
	display: inline-block;
	padding-right: 5px;
	font-size: 11px;
}
.one-news > div > div small.news-author, .two-news > div div:last-child small.news-author {
	border-right: 1px solid;
	margin-right: 5px;
}
.pix-lastnews-light .hgroup * {
	color: #fff !important;
}
.pix-lastnews-light .one-news div, .pix-lastnews-light .news-item div div {
	background-color: #fff !important;
	color: #333;
}
.pix-lastnews-light .one-news div *, .pix-lastnews-light .news-item div * {
	color: #333 !important;
}

.pix-lastnews-light .one-news  h3 a , .pix-lastnews-light .news-item  h3 a{
    font-weight: bold;
}
.one-news div * {
	text-transform: uppercase;
}
.pix-lastnews-dark .two-news > div h3 a {
	color: #fff !important;
}
.news-item small {
	text-transform: uppercase;
}
.news-item {
	margin-bottom: 30px;
}
.pix-lastnews-light .news-item a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.news-item div:first-child {
	padding-right: 0px;
}
.news-item div:last-child {
	padding-left: 0px;
}
.two-news > div div:first-child > div {
	height: 135px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.two-news > div div:last-child > div {
	padding: 25px 30px;
	height: 135px;
}
.read-all-news {
    position: relative;
    margin-top: -10px;
    margin-right: 10px;
    background: #237ac6;
    border: 0 !important;
    color: #fff;
}
.pix-lastnews-dark .read-all-news {
	color: #666 !important;
	border: 1px solid #ddd;
	margin-top: -10px;
	background: transparent !important;
	border-right: 5px solid #2a64d9 !important;
}
.pix-lastnews-dark .read-all-news:hover {
	background: #2a64d9 !important;
	color: #fff !important;
}




#to-top {
	top: 0px;
	left: -30px;
	cursor: pointer;
	display: block;
	position: absolute;
	width: 80px;
	text-align: center;
	line-height: 60px;
	height: 65px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}
#to-top i {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.contact-info {
	margin-top: 30px;
}
.contact-info span {
	display: block;
	margin-bottom: 10px;
}
.contact-info strong {
	font-weight: 700;
	font-size: 12px;
}
.contact-info span:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.contact-info i {
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.box-col1 {
display: inline-block;
    float: right;
    max-width: 236px;
    padding-top: 49px;
}
.box-col2 {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 43px;
    max-width: 530px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 100px;
}
.box-col2 p {
    text-align: center;
    width: 100%;
    display: inline-block !important;
}
.box-col3 {
    padding-top: 49px;
    max-width: 235px;
    display: inline-block;
    float: left;
}

.info-texts {
	position: relative;
}
.info-texts p {
	position: relative;
	z-index: 2;
	vertical-align: middle;
	display: table-cell;
	z-index: 4;
	text-align: center;
	color: #fff;
	line-height: 24px;
}
.info-texts div {
	position: relative;
}
.info-texts div:before {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 180px solid;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	z-index: 3;
	left: -65px;
	right: -65px;
	top: -25px;
}
.info-texts div:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	height: 15px;
	left: -60px;
	right: -60px;
	background: #fff;
	z-index: 2;
}
.info-texts div:first-child:before, .info-texts div:last-child:before {
	border-top: 180px solid;
	border-bottom: none;
	z-index: 5;
	top: 0px;
}
.info-texts div:last-child:before {
	border-right: 0 none;
}
.info-texts div:first-child:after, .info-texts div:last-child:after {
	display: none;
}
.info-texts div:first-child:before {
	right: -15px;
	left: 0px;
}
.info-texts div:last-child:before {
	left: -15px;
	right: 0px;
}
.info-texts div:first-child p, .info-texts div:last-child p {
	margin-top: 15px;
	z-index: 6;
}
.info-texts div:first-child p {
	text-align: right;
	padding-right: 40px;
}
.info-texts div:last-child p {
	text-align: left;
	padding-left: 40px;
}
.info-texts:before, .info-texts:after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	top: 0px;
	height: 180px;
	z-index: 1;
}
.info-texts:before {
	left: 0;
}
.info-texts:after {
	left: 50%;
}
.main-content img + * {
	margin-top: 30px;
}




